* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul {

    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 60px;
    height: 40px;
}


.header {
    display: flex;
    background-color: #202938;
    justify-content: center;
    padding-top: 10px;
    height: 500px;
    flex: auto;
    gap: 20px;
}


.header-text {
    width: 300px;
    color: #eee;
    margin: 5px 0 10px 0;
}

.header-title {
    width: 300px;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 16px;
    align-self: flex-start;
    border: none;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 60px;
    height: 40px;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.header-right {
    align-items: flex-end;
    margin-right: auto;
}

.header-left {
    margin-left: auto;
}

.main-image {
    max-height: 285px;
    width: auto;
    flex: 1 1 auto;
}

.events-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 15px;
}

.events {
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.events-container {
    align-self: center;
    display: flex;
    height: 500px;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.events-container img {
    width: 200px;
    height: auto;
    flex: 0 0 auto;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.events-container div {
    width: 210px;
    flex: 0 0 auto;
}

.events-container p {
    color: #1f2937;
}

.quote {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text,
.quote-author {
    width: 990px;
}

.quote-text {
    font-weight: 100;
    font-size: 36px;
    color: #1f2937;
    margin: 0;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
    text-align: end;
    margin: 0;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.action-title,
.action-text {
    margin: 0;
    padding: 0;
    color: #f9faf8;
}

#action {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    height: 36px;
}

.action-container {
    display: flex;
    background-color: #3882f6;
    padding: 32px 75px;
    border-radius: 5px;
    gap: 200px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 25px;
}

.secret-link {
    color: #eee;
    text-decoration: none;
}